.logo{
    min-width: fit-content;
    /* so that it doesnt wraps as the width gets reduced */
}

.logo img{
    width: 1.5rem;
    margin-right: 0.4rem;
}

.logo > div{ 
    /* first div of logo is denoted as > */
    display: flex;
    align-items: center;
}

.logo p{
    font-size: 0.5rem;
}